*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.slides {
  display: flex;
  height: 100%;
  transition: translate 1000ms ease-in-out;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

#next,
#prev {
  cursor: pointer;
  margin: 1em;
}

/* I want each image to perfectly fit in the frame. */
